{% extends 'base.html.twig' %}

{% block title %}Calculator!{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1>Simple Calculator</h1>
        <div class="row align-items-end">
            <div class="col">
                <label for="num1" class="form-label">Number 1:</label>
                <input type="number" class="form-control" id="num1" required>
            </div>
            <div class="col">
                <label for="operation">Operation:</label>
                <select id="operation" class="form-select" required>
                    <option value="+">+</option>
                    <option value="-">-</option>
                    <option value="*">*</option>
                    <option value="/">/</option>
                </select>
            </div>
            <div class="col">
                <label for="num2" class="form-label">Number 2:</label>
                <input type="number" class="form-control" id="num2" required>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" onclick="calculate()">Calculate</button>
            </div>
        </div>
        <div class="result" id="result"></div>
    </div>

    <script>
        function calculate() {
            var num1 = parseFloat(document.getElementById("num1").value);
            var num2 = parseFloat(document.getElementById("num2").value);
            var operation = document.getElementById("operation").value;
            var resultElement = document.getElementById("result");

            var url = '/calculator';
            var data = {
                num1: num1,
                num2: num2,
                operation: operation
            };

            fetch(url, {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data?.result) {
                        resultElement.textContent = 'Result: ' + data.result;
                    } else {
                        resultElement.textContent = 'Error: ' + data.error;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    resultElement.textContent = 'Error occurred. Please try again.';
                });
        }
    </script>
{% endblock %}
